.container{
    margin:0 3rem;
}
.lis{
    list-style: upper-roman;
    background-color: #feb81a;
    padding: 2rem;
}
span{
    background-color: #feb81a;
    padding: 0 0.5rem;

}

.paragraph{
    background-color: white;
    padding: 2rem;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
      rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    margin-bottom: 1rem;
    line-height: 2;
}