.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  border-bottom: 2px solid #feb81a;
  &_title {
    font-size: 4rem;
  }
  &_logo {
    width: 70px;
    height: 50px;
  }
  &_container {
    display: flex;
    align-items: center;
  }
  &_left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  &_text {
    font-size: 0.9rem;
  }
}

.subHeading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;

  &_title {
    font-size: 2rem;
  }
}
.item {
  padding: 1rem;
  cursor: pointer;

  &:hover {
    background-color: #feb81a;
    border-radius: 2rem;
    color: #00509d;
  }
  &:active {
    background-color: #feb81a;
    border-radius: 2rem;
    color: #00509d;
  }
}
